#map {
    height: 100%;
    width: 100%;
    position: absolute !important;
    top: 0;
    overflow: hidden;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1000;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.ui.menu {
    position: relative;
    z-index: 1;
    height: 60px;
    margin-top: 1rem;

}

#container {
    position: relative;
    top: 50%;
    margin: 2rem;
    z-index: 1;
    overflow: scroll;
    max-height: 23rem;
}

#card-display {
    display: none;
}

.backgroundimg {
    height: 168px;
    width: 100%;
    background-size: cover;
    background-position: 50%;
}

.ui.segment {
    z-index: 1;
}

#logo {
    width: 112px;
    max-height: 4.75rem;
}

table {
    background: white;
}

/*********** STYLING FOR DIRECTIONS.HTML ***********/
#directions-canvas,
#directions-steps {
    height: 50%;
    width: 100%;
}

/* Link to Example CSS https://developers.google.com/maps/documentation/javascript/examples/directions-panel */